DATABASE_NAME=your_database
DATABASE_USER=your_database_username
DATABASE_PASSWORD=your_password
DATABASE_HOST=localhost
DATABASE_PORT=5432

DEBUG= # set here True for debug or False for production
SECRET_KEY=your_secret_key_from_settings_py

EMAIL_HOST_USER=your_email # Адрес электронной почты для рассылки почты
EMAIL_HOST_PASSWORD=your_password # Пароль от сервиса яндекса для рассылки почты